<app-header titulo="card"></app-header>

<ion-content padding>

  <ion-card mode="md" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Subtitle</ion-card-subtitle>
      <ion-card-title>Title</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back
      in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies.
      Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at
      records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>

    </ion-item>

    <ion-card-content>
      Sensors indicate human life forms 30 meters below the planet's surface. Stellar flares are increasing in magnitude
      and frequency. Set course for Rhomboid Dronegar 006, warp seven. There's no evidence of an advanced communication
      network. Total guidance system failure, with less than 24 hours' reserve power. Shield effectiveness has been
      reduced 12 percent. We have covered the area in a spherical pattern which a ship without warp drive could cross in
      the given time.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/shapes.svg"> </ion-img>

    <ion-card-content>Shields up. I recommend we transfer power to phasers and arm the photon torpedoes. Something
      strange on the detector circuit. The weapons must have disrupted our communicators. You saw something as tasty as
      meat, but inorganically materialized out of patterns used by our transporters. Captain, the most elementary and
      valuable statement in science, the beginning of wisdom, is 'I do not know.' All transporters off.
    </ion-card-content>

  </ion-card>



</ion-content>